body {
	background-image: url(../images/pexels-photo-590478.jpeg);
	background-size: cover;
}


.container {
	background-image: url(../images/sayagata-400px.png);
	background-size: cover;
	margin: 50px 25% 50px 25%;
	padding: 15px;
	text-align: center;
	width: 50%;
	height: auto;
	min-height: 400px;
}

h1 {
	font-size: 30px;
}

.game-screen {
	display: none;
}

.results-screen {
	display: none;
}